        body {
            margin: 0;
        }
        
        header {
            width: 100%;
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 25vw;
            }
            p {
                text-align: center;
                margin: 0;
                color: white;
                background: black;
            }
        }
        
        section {
            margin: 5px;
            display: block;
            padding: 5vw;
            a {
                display: inline-block;
                text-decoration: none;
                margin: 5px;
                .boite {
                    width: 25vw;
                    border: black 1px solid;
                    .nom {
                        margin: 0;
                        width: 100%;
                        text-shadow: red 3px 0px 0px, red 2.83487px 0.981584px 0px, red 2.35766px 1.85511px 0px, red 1.62091px 2.52441px 0px, red 0.705713px 2.91581px 0px, red -0.287171px 2.98622px 0px, red -1.24844px 2.72789px 0px, red -2.07227px 2.16926px 0px, red -2.66798px 1.37182px 0px, red -2.96998px 0.42336px 0px, red -2.94502px -0.571704px 0px, red -2.59586px -1.50383px 0px, red -1.96093px -2.27041px 0px, red -1.11013px -2.78704px 0px, red -0.137119px -2.99686px 0px, red 0.850987px -2.87677px 0px, red 1.74541px -2.43999px 0px, red 2.44769px -1.73459px 0px, red 2.88051px -0.838247px 0px;
                        color: white;
                        text-align: center;
                        background: linear-gradient(red, white);
                    }
                    .pp {
                        width: 100%;
                    }
                    .visu {
                        border-bottom: red 1px solid;
                        margin: 0;
                        color: red;
                    }
                    .sm {
                        margin: 0;
                        color: red;
                    }
                }
                 :hover {
                    width: 25vw;
                    border: white 1px solid;
                    .nom {
                        margin: 0;
                        width: 100%;
                        text-shadow: rgb(255, 255, 255) 3px 0px 0px rgb(255, 255, 255) 2.83487px 0.981584px 0px rgb(255, 255, 255) 2.35766px 1.85511px 0px, white 1.62091px 2.52441px 0px, white 0.705713px 2.91581px 0px, white -0.287171px 2.98622px 0px, white -1.24844px 2.72789px 0px, white -2.07227px 2.16926px 0px, white -2.66798px 1.37182px 0px, white -2.96998px 0.42336px 0px, white -2.94502px -0.571704px 0px, white -2.59586px -1.50383px 0px, white -1.96093px -2.27041px 0px, white -1.11013px -2.78704px 0px, white -0.137119px -2.99686px 0px, white 0.850987px -2.87677px 0px, white 1.74541px -2.43999px 0px, white 2.44769px -1.73459px 0px, white 2.88051px -0.838247px 0px;
                        color: white;
                        text-align: center;
                        background: linear-gradient(red, white);
                    }
                    .pp {
                        width: 100%;
                    }
                    .visu {
                        background: red;
                        border-bottom: red 1px solid;
                        margin: 0;
                        color: white;
                    }
                    .sm {
                        background: red;
                        margin: 0;
                        color: white;
                    }
                }
            }
        }
        
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            p {
                background: black;
                text-align: center;
                margin: 0;
                padding: 15px;
                 :hover {
                    color: yellow !important;
                }
                a {
                    font-size: 2em;
                    color: white !important;
                    text-decoration: none;
                }
            }
        }